
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
dry-run/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Developer tests
devtest

# config directories
**.properties.ini
# env files with secrets
*.env

# editor and IDE paraphernalia
.idea
*.iml
*.swp
*.swo
*~
